:root {
    --primary-color: #3563E9;
    --primary-color-0: #ffffff;
    --secondary-color-300: #90A3BF;
    --secondary-color-500: #1A202C;
    --background-color: #F6F7F9;
    --information-color: #54A6FF;
    --accent-color: #ED3F3F;
    --main-font: "Plus Jakarta Sans", sans-serif;
}

body {
    font-family: var(--main-font);
}

main {
    background-color: var(--background-color);
    padding: 32px 64px 64px 64px;
}

.btn {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: inherit;
    
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 10px 20px;
    
    & a {
        color: inherit;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px 40px 60px;

    & .logo-search {
        display: flex;
        gap: 64px;

        & .logo {
            & a {
                font-weight: 700;
                font-size: 32px;
                color: var(--primary-color);
                font-family: inherit;
                text-transform: uppercase;
            }
        }
        & .search{
            & form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 492px;
                height: 44px;
                border-radius: 70px;
                border: 1px solid #C3D4E966;
                padding: 10px 20px;
                gap:20px;
                    & svg{
                        cursor: pointer;
                    }
                

                & input {
                    border:none;
                    width: 100%;
                    font-family: inherit;
                    font-weight: 500;
                    font-size: 14px;
                    &:focus {
                        outline: none;

                    }
                }

                & .filter {
                    &:hover {
                    animation: jump-shaking 0.83s infinite;
                    }
                }
            }
        }
    }

    & .cta {
        display: flex;
        gap: 20px;
        align-items: center;
        & .cta-item {
            border-radius: 50%;
            border: 1px solid #C3D4E966;
            width: 44px;
            height: 44px;
            display:flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s;
            & svg{
                transition: inherit;
            }

            &:hover {
                border-color: #c3d4e9fa;
                & svg{
                    transform: scale(0.9);
                }
            }
        }
        & .notifications {
            position: relative;
            &::after {
                content:"";
                width: 11px;
                height: 11px;
                background-color: #FF4423;
                border-radius: 50%;
                position: absolute;
                top: 2px;
                right: 2px;
            }
        }

        & .user {
            transition: 0.3s;
             
            cursor: pointer;
            &  img{
                width: 44px;
                height: 44px;
                border-radius: 50%;
                transition: inherit;
                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }
}


section.ads-section {
    & .ad-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        & .ad-card {
            width: 640px;
            padding: 1.5rem;
            padding-bottom: 0px;

            border-radius: 10px;
            color: white;

            &:first-child {
                background-color: var(--information-color);
            }
            
            &:last-child {
                background-color: var(--primary-color);

                & .btn {
                    background-color: var(--information-color);
                }
            }

            & .ad-info {
                width: 284px;
                
                & h2 {
                    font-size: 2rem;
                    font-weight: 600;
                    text-transform: capitalize;
                }
    
                & p {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-block: 1rem 1.25rem;
                }
            }


            & img {
                position: relative;

                left: 50%;
                bottom: 0px;

                transform: translate(-50%, -1rem);
            }
        }
    }
}

section.filters-section {
    margin-top: 32px;
    & .filter-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 44px;
        & form {
            background-color: var(--primary-color-0);
            border-radius: 10px;
            padding: 24px 48px;
            & .form-group {
                gap: 24px;
                display: flex;
                margin-top: 16px;
                & .vertical-line {
                    width: 1px;
                    background-color: #C3D4E966;
                }
                & .select-container {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    & label {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    & select {
                        appearance: none;
                        color: var(--secondary-color-300);
                        font-size: 12px;
                        font-weight: 500;
                    }
                    & input {
                        font-size: 12px;
                        font-weight: 500;
                        &::placeholder {
                            color: var(--secondary-color-300);
                        }
                    }
                    
                }
            }
        }
        & button {
            background-color: var(--primary-color);

        }
    }
    
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-1px) }
  35% { transform: translateY(-1px) rotate(17deg) }
  55% { transform: translateY(-1px) rotate(-17deg) }
  65% { transform: translateY(-1px) rotate(17deg) }
  75% { transform: translateY(-1px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}

